    
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
<body>
    Name: <%=@puppy.name%>
    Breed: <%= @puppy.breed%>
    Age: <%= @puppy.months_old%> months
</body>
</html>
